.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.csproj.AssemblyReference.cache
