.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.csproj.AssemblyReference.cache
CinemaProgram/CinemaProgram/.vs/CinemaProgram/xs/UserPrefs.xml
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.genruntimeconfig.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.FileListAbsolute.txt
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.CoreCompileInputs.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.AssemblyReference.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.runtimeconfig.dev.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/.vs/CinemaProgram/xs/UserPrefs.xml
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Debug.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.genruntimeconfig.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.FileListAbsolute.txt
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.CoreCompileInputs.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.AssemblyReference.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.runtimeconfig.dev.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/.vs/CinemaProgram/xs/UserPrefs.xml
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Debug.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.genruntimeconfig.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.FileListAbsolute.txt
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.CoreCompileInputs.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.AssemblyReference.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.runtimeconfig.dev.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/.vs/CinemaProgram/xs/UserPrefs.xml
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Debug.json
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.genruntimeconfig.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.FileListAbsolute.txt
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.CoreCompileInputs.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.AssemblyReference.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/movies.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.runtimeconfig.dev.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/.DS_Store
CinemaProgram/CinemaProgram/bin/.DS_Store
CinemaProgram/CinemaProgram/.DS_Store
CinemaProgram/.vs/CinemaProgram/xs/UserPrefs.xml
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Release.json
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Debug.json
CinemaProgram/.DS_Store
.DS_Store
CinemaProgram/.DS_Store
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Debug.json
CinemaProgram/.vs/CinemaProgram/xs/UserPrefs.xml
CinemaProgram/CinemaProgram/.DS_Store
CinemaProgram/CinemaProgram/bin/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.runtimeconfig.dev.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/movies.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.AssemblyReference.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.CoreCompileInputs.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.FileListAbsolute.txt
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.genruntimeconfig.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/obj/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
.DS_Store
CinemaProgram/.DS_Store
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Debug.json
CinemaProgram/.vs/CinemaProgram/xs/UserPrefs.xml
CinemaProgram/CinemaProgram/.DS_Store
CinemaProgram/CinemaProgram/bin/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/net5.0/.DS_Store
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/bin/Debug/net5.0/CinemaProgram.runtimeconfig.dev.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/movies.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/bin/Debug/net5.0/reservations.json
CinemaProgram/CinemaProgram/bin/Debug/net5.0/user.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.dgspec.json
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.props
CinemaProgram/CinemaProgram/obj/CinemaProgram.csproj.nuget.g.targets
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.AssemblyReference.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.CoreCompileInputs.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.csproj.FileListAbsolute.txt
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.GeneratedMSBuildEditorConfig.editorconfig
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.genruntimeconfig.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.pdb
CinemaProgram/CinemaProgram/obj/Debug/net5.0/ref/CinemaProgram.dll
CinemaProgram/CinemaProgram/obj/project.assets.json
CinemaProgram/CinemaProgram/obj/project.nuget.cache
CinemaProgram/CinemaProgram/obj/Release/net5.0/CinemaProgram.assets.cache
CinemaProgram/CinemaProgram/obj/Debug/net5.0/CinemaProgram.assets.cache
CinemaProgram/.vs/CinemaProgram/xs/project-cache/CinemaProgram-Debug.json
